<div class="navbar">
  <div class="navbar-inner">
    <h1>Dark Souls Cheat Sheet</h1>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tabPlaythrough" data-toggle="tab">Playthrough</a>
      </li>
      <li><a href="#tabChecklists" data-toggle="tab">Checklists</a></li>
      <li><a href="#tabInformation" data-toggle="tab">Information</a></li>
      <li><a href="#tabHelp" data-toggle="tab">Help</a></li>
    </ul>
    <div class="profile" style="float: right">
      <div class="input-append">
        <select id="profiles"></select>
        <button class="btn" type="button" id="profileAdd">Add</button>
        <button class="btn" type="button" id="profileEdit">Edit</button>
      </div>
    </div>
  </div>
</div>