<div class="navbar">
  <div class="navbar-inner">
    <h1>Elden Ring Legendaries Checklist</h1>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Weapons</a>
        <ng-template ngbNavContent>
          <p>Content 1</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Ashen Remains</a>
        <ng-template ngbNavContent>
          <p>Content 2</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Sorceries & Incantations</a>
        <ng-template ngbNavContent>
          <p>Content 3</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Talismans</a>
        <ng-template ngbNavContent>
          <p>Content 4</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>About</a>
        <ng-template ngbNavContent>
          <p>Content 4</p>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <div class="profile" style="float: right">
    <div class="input-append">
      <select id="profiles"></select>
      <button class="btn" type="button" id="profileAdd">Add</button>
      <button class="btn" type="button" id="profileEdit">Edit</button>
    </div>
  </div>
</div>
